.pagos-container{
    padding:auto;
    margin:1rem 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.mat-card{
    margin: 1rem;
    background-color: #ffd740;
    text-align: center;
    align-items: center;
}

.example-card {
    width: 15vw;
  }
