<mat-toolbar color='primary'>
   <span>GymOnline</span>
   <span class="example-spacer"></span>
   <button mat-button color="accent" [routerLink]="['/pagos']" routerLinkActive="active" >Pagos</button>
   <button mat-button color="accent" [routerLink]="['/reportes']" routerLinkActive="active" >Reportes</button>
   <button mat-button color="accent" [routerLink]="['/listado']" routerLinkActive="active" >Listado Alumnos</button>
   <button mat-button color="accent" [routerLink]="['/register']" routerLinkActive="active">Registrar Alumno</button>
   <button mat-button color="accent" [routerLink]="['/login']" routerLinkActive="active">Login</button>
 </mat-toolbar>